{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'images/aviation/aviation_top_plane.jpg' %}" style="width:100%; height: 800px;">
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 style="margin-bottom:50px ;">AVIATION</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{% static 'images/aviation/aviation1.jpg' %}" alt="Card image" style="width:100%; height: 180px;">
                <div class="card-body">
                  <h4 class="card-title">Civil Air Planes</h4>
                  <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
             
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{% static 'images/slider/slider2.jpeg' %}" alt="Card image" style="width:100%; height:180px;">
                <div class="card-body">
                  <h4 class="card-title">Helicopters</h4>
                  <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{% static 'images/slider/slider2.jpeg' %}" alt="Card image" style="width:100%; height:180px;">
                <div class="card-body">
                  <h4 class="card-title">Business Jets</h4>
                  <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
             
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{% static 'images/slider/slider2.jpeg' %}" alt="Card image" style="width:100%; height:180px;">
                <div class="card-body">
                  <h4 class="card-title">Private Jets</h4>
                  <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
     
                </div>
              </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{% static 'images/slider/slider2.jpeg' %}" alt="Card image" style="width:100%; height:180px;">
                <div class="card-body">
                  <h4 class="card-title">Engines</h4>
                  <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{% static 'images/slider/slider2.jpeg' %}" alt="Card image" style="width:100%; height:180px;">
                <div class="card-body">
                  <h4 class="card-title">Avionics</h4>
                  <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
             
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{% static 'images/slider/slider2.jpeg' %}" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Consumables</h4>
                  <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{% static 'images/slider/slider2.jpeg' %}" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Standard Parts</h4>
                  <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
           
                </div>
              </div>
        </div>
    </div>
</div>

<br><br><br><br>


{% endblock content %}