{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<style>
  /*----  Main Style  ----*/

  body{
    color: #d83744 !important
  }
#cards_landscape_wrap-2{
  text-align: center;
  background: #F7F7F7;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 18px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box span{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 1px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box  span{

  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#d83744
}



@media only screen and (min-width: 100px) {
  /* For phones: */
  .aviation-top-img {height: 250px;};

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .aviation-top-img {height: 650px;};

}

@media only screen and (min-width: 1300px) {
  /* For desktop: */
  .aviation-top-img {height: 800px;};

}

@media only screen and (min-width: 100px) {
  /* For phones: */
  .card-flyer{height: 280px;};

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .card-flyer {height: 320px;};

}

@media only screen and (min-width: 1550px) {
  /* For desktop: */
  .card-flyer {height: 300px;};

}

@media only screen and (min-width: 100px) {
  /* For phones: */
  #cards_landscape_wrap-2 .card-flyer .text-box  span {font-size: 12px;};

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  #cards_landscape_wrap-2 .card-flyer .text-box  span {font-size: 15px;};

}

@media only screen and (min-width: 1300px) {
  /* For desktop: */
  #cards_landscape_wrap-2 .card-flyer .text-box  span {font-size: 18px;};

}

.tt{
      background: url('/static/images/aviation/aviation_top_plane.jpg')  no-repeat;
      box-shadow: 0px 0px 0px 0px white inset, 0px -100px 30px 0 white inset; 
      width: 100%;
      height: 900px;
      background-size: cover;
      background-position: center;
    }

    .tt2{
      background: url('/static/images/aviation/aviationbottom.jpg')  no-repeat;
      box-shadow: 0px 50px 40px 0px white inset, 0px -100px 30px 0 white inset; 
      width: 100%;
      height: 900px;
      background-size: cover;
      background-position: center;
    }

</style>

<div class="container-fluid m-0 p-0 ">
  <div class="row tt m-0">
     
  </div>
</div>



       <!-- Topic Cards -->
      <div id="cards_landscape_wrap-2" style="background-color: white !important;">
        <div class="container-fluid">
            <div class="row justify-content-center mt-5">
     
              <h2>
                <span style="color: gray; text-transform: uppercase;"><b>AVIATION</b></span> <span style="text-transform: uppercase;"><b>Segments</b></span>
               </h2>
              <div class="col-6 col-md-3 col-lg-2 test"  >
                      <a href="">
                          <div class="card-flyer">
                              <div class="text-box">
                                  <div class="image-box">
                                      <img src="{% static 'images/aviation/aviation9.jpg' %}" alt="" class="picfit" style="  aspect-ratio: 1;" />
                                  </div>
                                  <div class="text-container d-flex align-items-center justify-content-center ">
                                      <span class="hsixtitles">{% translate "COMMERCIAL AIRCRAFTS " %}</span>
                                  </div>
                              </div>
                          </div>
                      </a>
              </div>
                  <div class="col-6  col-md-3 col-lg-2" >
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                  <img src="{% static 'images/aviation/aviation8.jpg' %}" alt=""  class="picfit"/>
                                </div>
                            <div class="text-container d-flex align-items-center justify-content-center ">
                                    <span class="hsixtitles">{% translate "HELICOPTERS" %}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
              <div class="col-6 col-md-3 col-lg-2" >
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                <img src="{% static 'images/aviation/aviation11.jpg' %}" alt=""  class="picfit"/>
                              </div>
                          <div class="text-container d-flex align-items-center justify-content-center ">
                                  <span class="hsixtitles">{% translate "BUSINESS JETS" %}</span>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-6 col-md-3 col-lg-2" >
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                              <img src="{% static 'images/aviation/aviation7.jpg' %}" alt=""  class="picfit"/>
                            </div>
                        <div class="text-container d-flex align-items-center justify-content-center ">
                                <span class="hsixtitles">{% translate "PRIVATE AIRCRAFTS" %}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
          <div class="col-6 col-md-3 col-lg-2" >
              <a href="">
                  <div class="card-flyer">
                      <div class="text-box">
                          <div class="image-box">
                            <img src="{% static 'images/aviation/aviation6.jpg' %}" alt=""  class="picfit"/>
                          </div>
                      <div class="text-container d-flex align-items-center justify-content-center ">
                              <span class="hsixtitles">{% translate "UAV (UNMANNED AERIAL VEHICLE) - DRONES" %}</span>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
        </div>

        <div class="row justify-content-center mt-5">
          <div class="col-12">
              <h2>
                <span style="color: gray;"> <b>OEM & PMA</b></span> <span><b>SEGMENTS</b></span>
              </h2>
          </div>
        </div>


        <div class="row justify-content-center">
              <div class="col-6  col-md-3 col-lg-2" >
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                <img src="{% static 'images/aviation/aviation10.jpg' %}" alt=""  class="picfit"/>
                              </div>
                          <div class="text-container d-flex align-items-center justify-content-center ">
                                  <span class="hsixtitles">{% translate "ENGINES" %}</span>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-6 col-md-3 col-lg-2" >
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                              <img src="{% static 'images/aviation/aviation2.jpg' %}" alt=""  class="picfit"/>
                            </div>
                        <div class="text-container d-flex align-items-center justify-content-center ">
                                <span class="hsixtitles">{% translate "AVIONICS" %}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-2 col-lg-2" >
              <a href="">
                  <div class="card-flyer">
                      <div class="text-box">
                          <div class="image-box">
                            <img src="{% static 'images/aviation/aviation5.jpg' %}" alt="" class="picfit" />
                          </div>
                      <div class="text-container d-flex align-items-center justify-content-center ">
                              <span class="hsixtitles">{% translate "TIRES & BRAKES" %}</span>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-6 col-md-3 col-lg-2" >
              <a href="">
                  <div class="card-flyer">
                      <div class="text-box">
                          <div class="image-box">
                            <img src="{% static 'images/aviation/aviation4.jpg' %}" alt="" class="picfit" />
                          </div>
                      <div class="text-container d-flex align-items-center justify-content-center ">
                              <span class="hsixtitles">{% translate "CONSUMABLES" %}</span>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-6  col-md-3 col-lg-2" >
            <a href="">
                <div class="card-flyer">
                    <div class="text-box">
                        <div class="image-box">
                          <img src="{% static 'images/aviation/aviation3.jpg' %}" alt="" class="picfit" />
                        </div>
                    <div class="text-container d-flex align-items-center justify-content-center ">
                            <span class="hsixtitles">{% translate "STANDARD PARTS" %}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
      </div>
        </div>
    </div>
</div>



<div class="container-fluid m-0 p-0 ">
  <div class="row tt2 m-0">
     
  </div>
</div>





{% endblock content %}