{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<style>
@media only screen and (min-width: 100px) {
  /* For phones: */
   .career-top-img {height: 350px;};

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
   .career-top-img {height: 650px;};

}

@media only screen and (min-width: 1300px) {
  /* For desktop: */
   .career-top-img {height: 800px;};
}
/**/
@media only screen and (min-width: 100px) {
  /* For phones: */
   .text {margin-top: 10px;};

}

@media only screen and (min-width: 700px) {
  /* For tablets: */
   .text {margin-top: -10px;};

}

@media only screen and (min-width: 1300px) {
  /* For desktop: */
   .text {margin-top: 30px;};
}

.tt{
      background: url('/static/images/career2.jpg')  no-repeat;
      box-shadow: 0px 0px 0px 0px white inset, 0px -100px 30px 0 white inset; 
      width: 100%;
      height: 1000px;
      background-size: cover;
      background-position: center;
    }

</style>

<div class="container-fluid m-0 p-0 tt">
  <div class="row tt">
     
  </div>
</div>


<div class="container text" style="margin-bottom: 30px; margin-top: -30px;">
   <div class="row">
    <div class="col-lg-12 text-center">
        <h2 style="color: red;">{% translate "Join Our Global Team" %}</h2>
        <h4>
            <a href="mailto:aog@rekaglobal.com"  style="color: gray;" > career@rekaglobal.com</a>

            </h4>
    </div>
   </div>
</div>





{% endblock content %}