{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<style>
    @media only screen and (min-width: 100px) {
  /* For phones: */
   .career-top-img {height: 350px;};

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
   .career-top-img {height: 650px;};

}

@media only screen and (min-width: 1300px) {
  /* For desktop: */
   .career-top-img {height: 800px;};

}
</style>

<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'images/career2.jpg' %}" class="career-top-img" style="width: 100%;">
        </div>
    </div>
</div>


<div class="container mt-5" style="margin-bottom: 30px;">
   <div class="row">
    <div class="col-lg-12 text-center">
        <h2 style="color: red;">Join Our Global Team</h2>
        <h4>
            <a href="mailto:aog@rekaglobal.com" style="color: black;" > career@rekaglobal.com</a>

            </h4>
    </div>
   </div>
</div>





{% endblock content %}