{% load i18n %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="style.css">
    <link href="{% static 'css/companyprofile.css' %}" rel="stylesheet" />

    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
    <select onchange="window.location.href=this.value;" class="selectpicker" data-width="fit"
    style="background-color: #d83744; border: 0px; color: white;">
    {% get_current_language as lang.name_local %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    <!-- <option value="/{{ lang.code }}/">{{dil}}</option>  -->
    {% if  dil == "tr" %}
          <option value="/{{ lang.code }}/{{link}}" style="color: white;">
          Türkçe
    </option>

        {% elif dil == "en" %}
        <option value="/{{ lang.code }}/{{link}}" style="color: white;">
        English
    </option>
        {% elif dil == "ar" %}
        <option value="/{{ lang.code }}/{{link}}" style="color: white;">
          عربي
    </option>
        {% else %}
        <option value="/{{ lang.code }}/{{link}}" style="color: white;">
        Deutsch
    </option>
        {% endif %}
    {% for lang in languages %}
    {% if lang.code == dil %}
        
        {% else %}
      <option value="/{{ lang.code }}/{{link}}" style="color: white;">

        <a class="dropdown-item" href="/{{ lang.code }}/{{link}}">
          
          {{ lang.name_local }}
          
          
        </a>
      </option>
    {% endif %}
    {% endfor %}

  </select>
    <!-- Navbar top -->
    <div class="navbar-top">
        <div class="title">
            <h1>{{profile.companyName}}'s Profile</h1>
        </div>

        <!-- Navbar -->
        <ul>
            <li>
                <a href="{% url 'landing:index' %}">
                    <i class="fa fa-sign-out-alt fa-2x"></i>
                </a>
            </li>
        </ul>
        <!-- End -->
    </div>
    <!-- End -->

    <!-- Sidenav -->
    <div class="sidenav">
        <div class="profile">
            {% if profile.image %}
                <img src="{{profile.image.url}}" alt="" width="100" height="100">

            {% else %}
            {% endif %}

        </div>

        <div class="sidenav-url">
            <div class="url">
                <a href="#profile" class="active">{% translate "Profile" %}</a>
                <hr align="center">
            </div>
        </div>
    </div>
    <!-- End -->

    <!-- Main -->
    <div class="main">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                    {% translate "Edit Profile" %}
                  </button>
                <table>
                    <tbody>
                        <tr>
                            <td>{% translate "Name Surname" %}</td>
                            <td>:</td>
                            <td>{{profile.namesurname}}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Company Name" %}</td>
                            <td>:</td>
                            <td>{{profile.companyName}}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Phone" %}</td>
                            <td>:</td>
                            <td>{{profile.phone}}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Mobile Phone" %}</td>
                            <td>:</td>
                            <td>{{profile.mobile_phone}}</td>
                        </tr>
                        <tr>
                            <td>{% translate "E-Mail" %}</td>
                            <td>:</td>
                            <td>{{profile.email}}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Company Website" %}</td>
                            <td>:</td>
                            <td>{{profile.web_site}}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Member Notes" %}</td>
                            <td>:</td>
                            <td>{{profile.note}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{% translate "profile Update" %}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                  {{form}}
    
              
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{% translate "Close" %}</button>
              <button type = "submit" class = "btn btn-success">{% translate "Update" %}</button>
              </div>
            </form>
      </div>
    </div>
  </div>
    <!-- End -->
</body>
</html>

{% endblock content %}