{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<style>
    body{
      color: #d83744
    }
    p{
        font-size: 21px;
    }

    .ec-top-img{
    width:100%; 
    height: 800px;
}

@media only screen and (min-width: 100px) {
  /* For phones: */
   .ec-top-img {height: 350px;};

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
   .ec-top-img {height: 650px;};

}

@media only screen and (min-width: 1300px) {
  /* For desktop: */
   .ec-top-img {height: 800px;};

}


@media only screen and (min-width: 100px) {
  /* For phones: */
   .ecp {font-size: 15px;};

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
   .ecp {font-size: 25px;};

}

@media only screen and (min-width: 1300px) {
  /* For desktop: */
   .ecp {font-size: 30px;};

}

</style>

<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'images/ec2.jpg' %}" class="ec-top-img">
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2>
                <span style="color: gray;"><b>Modern Marketing &</b></span> <span><b>E-Commerce</b></span>
            </h2> <hr>
            <p class="ecp">Reka Global offers a wide range of new generarion international trade services for both import and export processes. </p>
            <p class="ecp">Modernization of trade requires differentiation of approaches for international markets. We serve corporate integration to new generation e-commerce applications.</p>
            <p class="ecp">Our main goal is to offer our customers a smooth and successful trade operation, free from the possible risks and difficulties of international trade. </p>
            <p class="ecp">Our wide range of services offers managing or monitoring standard and non-standard trade operations as well as tailor-made solutions for your business.</p>
            <p class="ecp">By utilizing our existing sales channels among all over the world, we are serving SMEs as an outsider sales team.</p>
            <p class="ecp">Trustful commercial property partner for long term localization. Project management specialized in industrial, mall, office and mixed use developments. Licenced real estate agents for professional leasing and Tenant Mix solutions. </p>
        </div>
    </div>
</div>
  

<div class="container-fluid m-0 p-0 mb-0">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'images/ec.jpg' %}" class="ec-top-img">
        </div>
    </div>
</div>




<br>


{% endblock content %}