{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<style>
    body{
      color: #d83744
    }
    p{
    font-size: 21px;
  }
</style>

<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'images/finance.jpg' %}" style="width:100%; height: 800px;">
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <p>Investment solutions against dynamic economical volatilty. Asset management and private financial consultancy. Corporate audit, financial control systems with customized accounting software solutions. Accurate forecast of global economy. </p>
        </div>
    </div>
</div>
  


<br><br><br><br>


{% endblock content %}