{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<style>

body{
    color: #d83744 !important;
    font-family: 'Gill Sans' !important;
  }

  p{
    font-size: 21px;
  }

#cards_landscape_wrap-2{
  text-align: center;
  background: #F7F7F7;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
  
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box  span{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color:#d83744
}

@media only screen and (min-width: 100px) {
  /* For phones: */
  .card-flyer{height: 280px;};

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .card-flyer {height: 320px;};

}

@media only screen and (min-width: 1550px) {
  /* For desktop: */
  .card-flyer {height: 300px;};

}

@media only screen and (min-width: 100px) {
  /* For phones: */
  #cards_landscape_wrap-2 .card-flyer .text-box  span {font-size: 12px;};

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  #cards_landscape_wrap-2 .card-flyer .text-box  span {font-size: 15px;};

}

@media only screen and (min-width: 1300px) {
  /* For desktop: */
  #cards_landscape_wrap-2 .card-flyer .text-box  span {font-size: 18px;};

}

</style>

<!-- <div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'images/aviation/aviation_top_plane.jpg' %}" style="width:100%; height: 800px;">
        </div>
    </div>
</div> -->

<div class="container mt-5">
  <div class="row">
      <div class="col-12 text-center">
          <p>{% translate "REKA provides support for airlines, OEMs, airports, repair workshops and other facilities with spare parts of aircrafts, equipment and maintenance management services."  %}</p>
          <p> {% translate "Global spares supply and maintenance service for virtually every major aircraft and helicopter manufacturer; Spares supply and maintenance service for Western-built aircraft and helicopters; Boeing, Airbus and Bombardier components as well as Ground Support Equipments (GSE) and their spares. "  %}</p>
      </div>
  </div>
</div>




<div id="cards_landscape_wrap-2" style="background-color: white !important; margin-top: -60px;margin-bottom: -60px;">
  <div class="container">
      <div class="row justify-content-center mt-5">
        {% if dil == "tr" %}
          {% for i in ur %}
        <div class="col-6 col-md-2 col-lg-3"  >
            
                  <div class="card-flyer" >
                      <div class="text-box">
                          <div class="image-box">
                              <img src="{{i.image.url}}" alt=""  class="picfit"/>
                          </div>
                      <div class="text-container d-flex align-items-center justify-content-center " >
                              <span>{{i.isim_tr}} </span>
                          </div>
                      </div>
                  </div>
           
          </div>

        {% endfor %}
        {% elif dil == "en" %}
        {% for i in ur %}
        <div class="col-6 col-md-2 col-lg-3"  >
            
                  <div class="card-flyer" >
                      <div class="text-box">
                          <div class="image-box">
                              <img src="{{i.image.url}}" alt=""  class="picfit"/>
                          </div>
                      <div class="text-container d-flex align-items-center justify-content-center " >
                              <span>{{i.isim_en}} </span>
                          </div>
                      </div>
                  </div>
     
          </div>

        {% endfor %}
        {% elif dil == "de" %}
        {% for i in ur %}
        <div class="col-6 col-md-2 col-lg-3"  >
            
                  <div class="card-flyer" >
                      <div class="text-box">
                          <div class="image-box">
                              <img src="{{i.image.url}}" alt=""  class="picfit"/>
                          </div>
                      <div class="text-container d-flex align-items-center justify-content-center " >
                              <span>{{i.isim_de}} </span>
                          </div>
                      </div>
                  </div>
            
          </div>

        {% endfor %}
        {% else %}
        {% for i in ur %}
        <div class="col-6 col-md-2 col-lg-3"  >
            
                  <div class="card-flyer" >
                      <div class="text-box">
                          <div class="image-box">
                              <img src="{{i.image.url}}" alt=""  class="picfit"/>
                          </div>
                      <div class="text-container d-flex align-items-center justify-content-center " >
                              <span>{{i.isim_ar}} </span>
                          </div>
                      </div>
                  </div>
             
          </div>

        {% endfor %}
        {% endif %}
        
  </div>
</div>
</div>


<br><br><br><br>


{% endblock content %}