{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- <div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'images/aviation/aviation_top_plane.jpg' %}" style="width:100%; height: 800px;">
        </div>
    </div>
</div> -->

<div class="container mt-5">
  <div class="row">
      <div class="col-12 text-center">
          <p>REKA provides support for airlines, OEMs, airports, repair workshops and other facilities with spare parts of aircrafts, equipment and maintenance management services.</p>
          <p>Global spares supply and maintenance service for virtually every major aircraft and helicopter manufacturer; Spares supply and maintenance service for Western-built aircraft and helicopters; Boeing, Airbus and Bombardier components as well as Ground Support Equipments (GSE) and their spares.</p>
      </div>
  </div>
</div>


<div class="container mt-5">
    <h2 style="margin-bottom:50px ;">MRO & GSE Product Range</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="card" >
            <img class="card-img-top" src="{% static 'images/gse/gse1.jpg' %}" alt="Card image" style="width:100%; height:180px;">
            <div class="card-body text-center">
              <h4 class="card-title">Miles Volta 25 Baggage Tractor</h4>
            </div>
          </div>
    </div>
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{% static 'images/gse/gse2.jpg' %}" alt="Card image" style="width:100%; height:180px;">
                   <div class="card-body text-center">
                  <h4 class="card-title">Catering Truck</h4>
        
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{% static 'images/gse/gse3.jpg' %}" alt="Card image" style="width:100%; height:180px;">
                     <div class="card-body text-center">
                  <h4 class="card-title">Cabin Cleaning Truck</h4>
        
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{% static 'images/gse/gse4.jpg' %}" alt="Card image" style="width:100%; height:180px;">
                     <div class="card-body text-center">
                  <h4 class="card-title">Seat Transfer Truck</h4>
      
                </div>
              </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{% static 'images/gse/gse5.jpg' %}" alt="Card image" style="width:100%; height:180px;">
                  <div class="card-body text-center">
                  <h4 class="card-title">Passenger Stairs</h4>
          
                </div>
              </div>
        </div>
        <div class="col-md-3">
          <div class="card" >
              <img class="card-img-top" src="{% static 'images/gse/gse6.jpg' %}" alt="Card image" style="width:100%; height:180px;">
            <div class="card-body text-center">
                <h4 class="card-title">Passenger Stairs</h4>

              </div>
            </div>
      </div>
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{% static 'images/gse/gse7.jpg' %}" alt="Card image" style="width:100%; height:180px;">
              <div class="card-body text-center">
                  <h4 class="card-title">Scissor Deck M.P.L</h4>
      
                </div>
              </div>
        </div>
        <div class="col-md-3">
          <div class="card" >
              <img class="card-img-top" src="{% static 'images/gse/gse8.jpg' %}" alt="Card image" style="width:100%; height:180px;">
            <div class="card-body text-center">
                <h4 class="card-title">Passenger Stairs</h4>
      
              </div>
            </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-3">
          <div class="card" >
              <img class="card-img-top" src="{% static 'images/gse/gse9.jpg' %}" alt="Card image" style="width:100%; height:180px;">
              <div class="card-body text-center">
                <h4 class="card-title">Ladder Maintenance Lift</h4>
  
              </div>
            </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
            <img class="card-img-top" src="{% static 'images/gse/gse10.jpg' %}" alt="Card image" style="width:100%; height:180px;">
           <div class="card-body text-center">
              <h4 class="card-title">Passenger Stairs</h4>
        
            </div>
          </div>
    </div>
      <div class="col-md-3">
          <div class="card" >
              <img class="card-img-top" src="{% static 'images/gse/gse11.jpg' %}" alt="Card image"style="width:100%; height:180px;">
             <div class="card-body text-center">
                <h4 class="card-title">Manual Maintenance Lift</h4>
    
              </div>
            </div>
      </div>
      <div class="col-md-3">
          <div class="card" >
              <img class="card-img-top" src="{% static 'images/gse/gse12.jpg' %}" alt="Card image"style="width:100%; height:180px;">
               <div class="card-body text-center">
                <h4 class="card-title">Toilet Service Truck</h4>
      
              </div>
            </div>
      </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-3">
        <div class="card" >
            <img class="card-img-top" src="{% static 'images/gse/gse13.jpg' %}" alt="Card image" style="width:100%; height:180px;">
               <div class="card-body text-center">
              <h4 class="card-title">Water Service Truck</h4>
    
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card" >
            <img class="card-img-top" src="{% static 'images/gse/gse14.jpg' %}" alt="Card image" style="width:100%; height:180px;">
               <div class="card-body text-center">
              <h4 class="card-title">Garbage Truck</h4>
          
            </div>
          </div>
    </div>
    <div class="col-md-3">
      <div class="card" >
          <img class="card-img-top" src="{% static 'images/gse/gse15.jpg' %}" alt="Card image" style="width:100%; height:180px;">
        <div class="card-body text-center">
            <h4 class="card-title">Passenger Stairs</h4>
          </div>
        </div>
  </div>
    <div class="col-md-3">
        <div class="card" >
            <img class="card-img-top" src="{% static 'images/gse/gse16.jpg' %}" alt="Card image" style="width:100%; height:180px;">
             <div class="card-body text-center">
              <h4 class="card-title">Baggage Trailer</h4>
      
            </div>
          </div>
    </div>
</div>
<div class="row mt-5">
  <div class="col-md-3">
      <div class="card" >
          <img class="card-img-top" src="{% static 'images/gse/gse17.jpg' %}" alt="Card image" style="width:100%; height:180px;">
           <div class="card-body text-center">
            <h4 class="card-title">Container Dolly</h4>
        
          </div>
        </div>
  </div>
  <div class="col-md-3">
      <div class="card" >
          <img class="card-img-top" src="{% static 'images/gse/gse18.jpg' %}" alt="Card image" style="width:100%; height:180px;">
               <div class="card-body text-center">
            <h4 class="card-title">Pallet Dolly</h4>
        
          </div>
        </div>
  </div>
</div>
</div>

<br><br><br><br>


{% endblock content %}