{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
body{
    color: #d83744 !important
}
</style>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-9">
            <h2 class="mb-4">MILES VOLTA 25 BAGGAGE TRACTOR</h2>
            <div class="gse_ind_pic">
                <img src="{% static 'images/gse/gse1.jpg' %}" class="w-75" alt="" />
            </div>
            <div class="p w-75 mt-4">
                <p>Miles 6041, Volta 25 Baggage Tractor is a product, manufactured according to the European Machinery Directives, assuring the highest level of quality control with mechanical, hydraulic and electronic system tests.</p>
                <p>Miles Volta 25 is the new solution that Miles GSE brings for the ground handlers. Miles Volta 25 is a highly acclaimed Baggage Tractor available for the international market. After a long R&D process, Volta 25 was designed and manufactured in accordance with the latest technologies, while doing so Miles GSE gave great importance to the market’s needs and requests. Its single-piece turtle-like chassis helps Miles Volta 25 to withstand severe operating conditions. With its compact and unique design, Miles Volta 25 provides excellent agility for the driver.  Miles Volta 25’s aim is to provide ground handlers a high driving comfort while helping them succeed at baggage handling, and with its spacious & ergonomic cabin, Miles Volta 25 has already started to become the favorite of the ground handlers.</p>
                <p>Aiming to support our customers to achieve uninterrupted operational excellence, Miles GSE designs and manufactures high-quality Baggage Tractors which not only significantly lowers maintenance costs, but also increases product life cycles throughout the usage of high-tech durable components.</p>
                <p>We think of Ground Support Equipment as an investment, and we strive for our customers to get the best ROI.</p>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Model</h4>
            <hr>
            <h6><b>Volta 25 Baggage Tractor</b> (Miles 6041)</h5>
            <h6><b>Volta 25E Baggage Tractor </b>(Miles 6042)</h5> <br>
            <h4>Technical specifications</h4>
            <hr>
            <h6><b> Engine:</b> Deutz D 2011 L 04 I <br>

                <b> Performance:</b> 45.9 kW at 2500 RPM <br>
                
                <b> Drive:</b> Semiautomatic, power shift gear Graziano PST 2 <br>
                
                <b> Drive Shaft:</b> Kessler differential axle <br>
                
                <b> Trailing load:</b> 8.6T (acc. to BGV C10 at 30km/h), 26T (acc. to DIN 15172 at 6 km/h) <br>
                
                <b> Electric system:</b> 24V ECU CAN Bus J1939 <br>
                
                <b> Tank capacity:</b> 85 I Diesel <br>
                
                <b> Driving speed:</b> Up to 30 km/h (on dry and level ground) <br>
                
                <b> Wheelbase:</b> 1630 mm <br>
                
                <b> Ground clearance:</b> Approx. 160 mm <br>
                
                <b> Turning circle (outer wheel):</b> 4080 mm <br>
                
                <b> Wheels/tires (front):</b> 195/70 R 15 C <br>
                
                <b> Wheels/tires (rear):</b> 225/70 R 15 C <br>
                
                <b> Deadweight (with closed cab):</b> Approx. 3500 kg</h6>
        </div>
    </div>
</div>













<br><br><br><br>


{% endblock content %}