{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="container" style="margin-bottom: 260px;">
	<div class="row">
        <div class="col-12 text-center mt-5">
            <h2>{% translate "Reset Password" %}</h2><hr>
            <p>{% translate "Forgot your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
            <form method="POST">
                {% csrf_token %}
                {{ form}}
                <button class="btn btn-outline-info" type="submit">{% translate "Send email" %}</button>
            </form>
        </div>

  	</div>
</div>

{% endblock %}