{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}


<div class="container mt-5">
    <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
    </div>
        <table class="table table-hover">
    <thead>
      <tr>
        <th>{% translate "PN" %}</th>
        <th>{% translate "AC Type" %}</th>
        <!-- <th>{% translate "Qty" %}</th> -->
        <th>{% translate "Price" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for i in product %}
        <tr>
            <td>{{i.PartNumber}}</td>
            <td>{{i.PartName}}</td>
            <!-- <td>{{i.Quantity}}</td> -->
            <td>${{ i.UnitPrice.Price|floatformat:2}}</td>
        </tr>
    {% endfor %}
      

    </tbody>
      </table>
    </div>
</div>


{% endblock content %}