{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6 text-center">
            <a href="{% url 'landing:product_list' %}" style="text-decoration: none; color: white;">
                <button type="button" class="btn btn-danger" style="width: 420px;">
                        SEARCH PART NUMBER FOR STOCK AVAILABILITY
                </button>
            </a>
        </div>
        <div class="col-lg-6 text-center">
            <a href="{% url 'landing:companyprofile' %}" style="text-decoration: none; color: white;">
                <button type="button" class="btn btn-primary" style="width: 420px;">
                        Profile
                </button>
            </a>
        </div>
     
    </div>
</div>



<br><br><br><br>

<br><br><br><br>
<br><br><br><br>

<br><br>


s

{% endblock content %}