{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<style>
    body{
      color: #d83744
    }
    p{
        font-size: 21px;
    }



@media only screen and (min-width: 100px) {
  /* For phones: */
   .rec-top-img {height: 350px;};

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
   .rec-top-img {height: 650px;};

}

@media only screen and (min-width: 1300px) {
  /* For desktop: */
   .rec-top-img {height: 800px;};

}

@media only screen and (min-width: 100px) {
  /* For phones: */
   .recp {font-size: 15px;};

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
   .recp {font-size: 25px;};

}

@media only screen and (min-width: 1300px) {
  /* For desktop: */
   .recp {font-size: 30px;};

}

.tt{
      background: url('/static/images/rec.jpg')  no-repeat;
      box-shadow: 0px 0px 0px 0px white inset, 0px -100px 30px 0 white inset; 
      width: 100%;
      height: 900px;
      background-size: cover;
      background-position: center;
    }

    
</style>

<div class="container-fluid m-0 p-0 tt">
    <div class="row tt">
       
    </div>
</div>

<div class="container mt-5" style="margin-bottom: -70px;">
    <div class="row">
        <div class="col-12 text-center">
          <h2>
            <span style="color: gray;"><b>  {% translate "Commercial Real Estate" %} & </b></span> <span><b>  {% translate "Construction" %} </b></span>
        </h2> <hr>
            <p class="recp">{% translate "As a part of group companies, Reka RE & C  serves comprehensive commercial development consultancy, real estate management, leasing solutions & tenant-mix optimization to localized projects with a wide aspect of globalized know-how in order to expand limits." %}</p>
            <p class="recp">{% translate "Trustful commercial property partner for long term localization. Project management specialized in industrial, mall, office and mixed use developments. Licenced real estate agents for professional leasing and Tenant Mix solutions." %} </p>
          </div>
    </div>
</div>


<br><br><br><br>


{% endblock content %}