
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Reset</title>
</head>
<body style="background-color: #f5f5f5; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6em; margin: 0; padding: 0;">
<div style="background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0,0,0,0.2); margin: 50px auto; max-width: 600px; padding: 20px;">
    <h2 style="color: #333; font-size: 24px; font-weight: bold; margin-bottom: 20px;">Password Reset</h2>
    <p style="color: #333; margin-bottom: 20px;">Hello {{ user.username }},</p>
    <p style="color: #333; margin-bottom: 20px;">We received a request to reset the password for your account for this email address. To initiate the password reset process for your account, click the link below:</p>
    <p style="text-align: center; margin-bottom: 30px;"><a href="{{ protocol }}://{{ domain }}{% url 'landing:password_reset_confirm' uidb64=uid token=token %}" style="background-color: #337ab7; border-radius: 3px; color: #fff; display: inline-block; font-size: 16px; padding: 10px 20px; text-decoration: none;">Password Reset</a></p>


    <p style="color: #333; margin-bottom: 20px;">This link can only be used once. If you need to reset your password again, please visit {{ protocol }}://{{domain}} and request another reset.

        If you did not make this request, you can simply ignore this email.</p>
    <p style="color: #333; margin-bottom: 20px;">Sincerely,</p>
    <p style="color: #333; margin-bottom: 0;">Reka</p>
</div>

</body>
</html>

